/* основной цвет текста #212121 */
/* вторчиный цыет текста #757575 */
/* #FFFFFF */
/* акцент #2196F3 */
/* вторычний цыет фона #2F303A */
/* вторичный цыет фона белый #E5E5E5 */
/* Наша команда цвет фона #F5F4FA */
/* шрифты */
/* Raleway  700 */
/* Roboto 500 900 700 400 */
:root {
  --main-color: #212121;
  --accent: #2196f3;
  --main-font: 'Roboto', sans-serif;
  --secondary-color: #757575;
  --color-team: #f5f4fa;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-hero: #2f303a;
}
body {
  font-family: var(--main-font);
  color: var(--main-color);
}
li {
  list-style-type: none;
}
/* логотип  */

.header {
  background: var(--color-white);
}
a {
  text-decoration: none;
}
.logotype {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logotype:hover {
  color: var(--accent);
  text-decoration: none;
}

.logotype-one {
  color: var(--accent);
}
.logotype-two {
  color: var(--color-black);
}
/* Меню навигации */
.current {
  color: var(--accent);
}

.navigation-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.navigation :hover,
.navigation :focus {
  color: var(--accent);
  text-decoration: none;
}
.navigation-contacts-mail-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.navigation-contacts-tel-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.navigation-contacts :hover,
.navigation-contacts :focus {
  color: var(--accent);
  text-decoration: none;
}
/* Меню навигации end*/
/* HERO */
.hero {
  background: var(--color-hero);
  color: var(--color-white);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background: var(--color-hero);
  color: var(--color-white);
}

.about-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background: var(--accent);
}
.about-btn:hover,
.about-btn:focus {
  background: var(--accent);
  color: var(--color-white);
}
/* HERO  end */

/* feature */
.feature-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* feature  end*/
/* component */
button {
  font-family: inherit;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
/* component end */
/* WORK */
.team {
  background: var(--color-team);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-about {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* WORK  end */

/* footer   */
.logotype-footer {
  color: var(--color-white);
}
.footer {
  background: var(--color-hero);
}
address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.address-text {
  color: rgba(255, 255, 255, 0.6);
}
/* footer end   */

/*-------------------------------- PORTFOLIO  -------------------------------- */

/* navigation-portfolio   */

.button-text:hover,
.button-text:focus {
  color: var(--color-white);
  background: var(--accent);
  cursor: pointer;
}
.button-text {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background: var(--color-team);
}

/* navigation-portfolio   END */

/*  --------------content-portfolio   ---------------*/

.content-portfolio-link {
  line-height: 2;
  letter-spacing: 0.06em;
}
.content-portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
h3 {
  color: var(--main-color);
  font-size: 18px;
}
